body {
    font-family: 'Montserrat', sans-serif;
    background-color: #84A178;
    color: #FCFCFC;
    margin: 0 auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    padding: 0;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
